[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "ingredient-scanner"

[packages]
requests = "*"
requests-html = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
